services:
  php:
    build:
      context: .
      target: php_stage

  web:
    build:
      context: .
      target: web
    ports:
      - "8080:80"
    depends_on:
      - php

  db:
    image: mariadb:10.5
    container_name: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: mydb
      MYSQL_USER: developer
      MYSQL_PASSWORD: developer
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: